<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - H1B_Viz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/H1B_Viz.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/header.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">

</head>
<body>
    <header>

        <div class="logo">
            <img src="~/images/h1b.png" alt="USF_LOGO" height="60" width="100" />

            <h2 class="heading">
                H1B Petition Information
            </h2>
        </div>

        <nav class="center navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
        <div class="center container-fluid" id="myCenter">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Requirements">Basic Requirements</a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LCApp">Labour Condition Application</a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Visualization">Visualization</a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="NewDataForm">New Data Form</a>
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="InquiryForm">Inquiry Form</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="center" id="myCenter" style="display:flex;justify-content: space-around;">
            <p class="text-light">
                &copy; 2024 - H1B Visa Petition Information

            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
