@{
    ViewData["Title"] = "About Us";
}

@{
    ViewBag.Title = "About Us";

}

@* <p>Use this page to write your intro's.</p>
 *@

 <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/css/header.css">
<link rel="stylesheet" type="text/css" href="~/css/AboutUS.css">
<script src="~/js/header.js"></script>
<title>New Data Form</title>
</head>

<body>
<h1 align="center">ABOUT US</h1>

<div class="container">
    <div class="profile">
        <img src="~/images/shreedevi.JPG" alt="Profile picture of Shreedevi" />
        <h2>Shreedevi Olekar</h2>
        <p>
            I am Shreedevi Bhimsingh Olekar, a dedicated and results-oriented professional with a Master's in Business Analytics and Information Systems.
            With a strong foundation in computer science and expertise in a wide range of technologies, I excel in software development, data analysis, and project management.
            Passionate about leveraging technology to drive innovation and efficiency. She is responsible for contributing towards Index, Basic Requiremnts and About US pages
            of this website.

        </p>
    </div>

    <div class="profile">
        <img src="~/images/niraj.jpg" alt="Profile picture of Niraj" />
        <h2>Niraj</h2>
        <p>
            A graduate student studying Business Analytics and Information Systems at USF. He has 3 years of experience as product analyst at Cybersecurity companies.
            He contributed in cleaning the dataset and leveraged chart.js to develop dynamic and use case oriented visualizations from the dataset.
        </p>
    </div>


    <div class="profile">
        <img src="~/images/sarang.jpg" alt="Profile picture of Sourabh" />
        <h2>Sarang</h2>
        <p>

            Pursuing a Master's in Business Analytics and Information Systems, he is driven to continually improve his expertise for effective data-driven decision-making and operational enhancement.
            Beyond his technical acumen, he has a passion for exploring diverse cultures, cuisines, and landscapes through travel, alongside experimenting with cooking.

            With 2 years of experience as an Associate Software Engineer at Accenture, he aspires to excel as a Data Analyst.
            His goals include mastering analytical tools, honing statistical and machine learning skills, and acquiring domain expertise.
            He prioritizes ongoing learning, collaboration, and contributing to data-centric decision processes.
            He contributed towards Labout Condition Application page of this website.
        </p>
    </div>


    <div class="profile">
        <img src="~/images/Satya.jpg" alt="Profile picture of Satya" />
        <h2>Satya</h2>
        <p>
            A graduate student at USF and a data science professional having a demonstrable work experience over 4 years in data mining,
            data-driven analytical projects in the technology/retail domains. He is responsible for Data acquisition, Data model development and
            contributing towards New Data and Inquiry Form pages of this website using Html, CSS & JavaScript (Jquery). Refer his
            <a href="https://www.github.com/Asrst">Github</a> more details.
        </p>
    </div>


    <h2 style="font-size: 14px;">GitHub Link to the Project: <a href="https://github.com/satadda/Assignment_LookAndFeel" style="margin-left: 30px;">Assignment_LookAndFeel</a></h2>

    <h2 style="font-size: 14px;">Data Model for Database:</h2>
    <img src="~/images/Database.png" alt="Data Model for Database" />
</div>
</body>